<header>
  <app-store-front-nav></app-store-front-nav>

  <div class="container">
    <div class="d-flex mt-5">
      <h1>Otaku-Realm</h1>

      <form class="d-flex ms-auto">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-accent" type="submit">Search</button>
      </form>
    </div>
  </div>
</header>

<app-store-front-products-nav></app-store-front-products-nav>

<app-store-front-carousel></app-store-front-carousel>

<app-store-front-featured> </app-store-front-featured>
