<header>
  <div class="container">
    <div class="d-flex mt-5">
      <h1>Otaku-Realm</h1>

      <form class="d-flex ms-auto">
        <input
          class="form-control me-2"
          name="search"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchText"
        />
        <button
          class="btn btn-outline-accent"
          type="submit"
          (click)="goToSearchView()"
        >
          Search
        </button>
      </form>

      <button class="btn btn-accent ms-2 px-5">
        <span class="mdi mdi-cart"></span>Cart
        {{ cartService.accumulatedPrice | currency }}
      </button>
    </div>
  </div>
</header>

<app-store-front-products-nav></app-store-front-products-nav>

<app-store-front-carousel></app-store-front-carousel>

<app-store-front-featured> </app-store-front-featured>
