<div class="container">
  <div class="row">
    <div class="d-flex mt-5">
      <h1>Cart</h1>
    </div>
    <div *ngIf="cartProducts.length; else noCartProducts">
      <div
        class="col-12 mt-2"
        *ngFor="let cartProduct of cartProducts; let i = index"
      >
        <app-base-card>
          <div class="card-body d-flex">
            <div>
              <h5>
                <strong>
                  {{ cartProduct.product.name }}
                </strong>
              </h5>
              <p>{{ cartProduct.product.description }}</p>
              <p>
                <strong>{{ cartProduct.product.price | currency }}</strong>
              </p>
            </div>
            <button
              class="btn btn-accent ms-auto my-auto"
              (click)="removeProductFromCart(i)"
            >
              <span class="mdi mdi-delete"></span>
            </button>
          </div>
          <div class="card-body d-flex flex-column">
            <hr />
            <p>Amount of items: {{ cartProduct.amount }}</p>
            <p>
              Amount of items:
              {{ cartProduct.product.price * cartProduct.amount | currency }}
            </p>
          </div>
        </app-base-card>
      </div>
    </div>
    <ng-template #noCartProducts>
      <app-base-card>
        <div class="card-body">
          <h2>There is nothing in your shopping cart</h2>
        </div>
      </app-base-card>
      <app-store-front-featured> </app-store-front-featured>
    </ng-template>
  </div>
</div>
