<div class="container mt-5">
  <div class="row">
    <h2>Featured products</h2>
    <div class="col-3" *ngFor="let product of featuredProducts">
      <app-base-card>
        <div class="card-body">
          <h5>
            <strong>
              {{ product.name }}
            </strong>
          </h5>
          <p>{{ product.description }}</p>
          <p>
            <strong>{{ product.price | currency }}</strong>
          </p>
          <div class="d-flex">
            <button
              class="btn btn-accent"
              (click)="cartService.setProduct(product)"
            >
              <span class="mdi mdi-cart"> </span>Add to cart
            </button>
            <button
              [routerLink]="['product-details', product.id]"
              class="btn btn-outline-accent ms-1"
            >
              <span class="mdi mdi-eye"> </span>
            </button>
          </div>
        </div>
      </app-base-card>
    </div>
  </div>
</div>
