<div class="container mt-2">
  <carousel [isAnimated]="true">
    <slide>
      <img
        src="assets/images/endevour-action-figure-min.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="assets/images/cosplay-two-girls-min.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="assets/images/anime-min.jpg"
        alt="third slide"
        style="display: block; width: 100%"
      />
    </slide>
  </carousel>
</div>
