<div class="container mt-2">
  <carousel [isAnimated]="true">
    <slide>
      <img
        src="assets/images/person1.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="assets/images/person2.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="assets/images/person3.jpg"
        alt="third slide"
        style="display: block; width: 100%"
      />
    </slide>
  </carousel>
</div>
