/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
$primary: #7fb800;
$accent: #84085b;
$theme-colors: (
  "primary": $primary,
  "accent": $accent,
);

@import "~bootstrap/scss/bootstrap";

@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

:root {
  --primary-color: #7fb800;
  --accent: #84085b;
}
