/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
$primary: #e4d59e;
$secondary: #fefdfd;
$accent: #a5462c;
$dark: #151515;
$light: #f8f9fa;
$theme-colors: (
  "primary": $primary,
  "accent": $accent,
  "light": $light,
  "dark": $dark,
);

@import "~bootstrap/scss/bootstrap";

@import "~@mdi/font/css/materialdesignicons.css";

@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

:root {
  --primary-color: #e4d59e;
  --secondary-color: #fefdfd;
  --accent: #a5462c;
}

body {
  font-family: 'hind madurai', 'serif';
  background-color: $secondary;
}

h1, h2, h3, h4, h5 {
  font-family: 'montserrat', 'sans-serif';
}
